body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 900px;
    background-color: #fff;
    margin: 0;
}

/*Button Style's*/

/*Default*/

.tertiary-dangerous-large-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #FF3E33;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*Hover*/

.tertiary-dangerous-large-button:hover {
    transition: 0.4ms;
    box-shadow: 5px 5px 20px rgba(255, 62, 51, 0.4);
}

/*Focus*/

.tertiary-dangerous-large-button:focus {
    background-color: #FFF0F0;
    border: 2px solid #FF3E33;
    outline: none;
}

/*Active*/

.tertiary-dangerous-large-button:focus:active {
    background-color: #FFDAD9;
    border: none;
}

/*Disabled*/

.tertiary-dangerous-large-button:disabled {
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: auto;
    /*Don't copy this style*/
    margin-top: 40px;
}

.tertiary-dangerous-large-button:disabled:hover {
    box-shadow: none;
}