body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 900px;
    margin: 0;
}

/*Button Style's*/

/*Default*/


.primary-small-icon-link-button, .primary-small-icon-link-button-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #0F6FFF;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/*Hover*/

.primary-small-icon-link-button:hover {
    transition: 0.4ms;
    box-shadow: 5px 5px 20px rgba(15, 111, 255, 0.4);
}

/*Focus*/

.primary-small-icon-link-button:focus {
    box-shadow: 0 0 0 2px #0F6FFF;
    border: 2px solid #fff;
}

/*Active*/

.primary-small-icon-link-button:focus:active {
    background-color: #1E6BDD;
    outline: none;
    box-shadow: none;
    border: none;
}

/*Disabled*/

.primary-small-icon-link-button-disabled {
    pointer-events: none;
    background-color: #81B5FD;
}

