body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 900px;
    margin: 0;
}

/*Button Style's*/

/*Default*/

.secondary-small-icon-link-button, .secondary-small-icon-link-button-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #B5D2FF;
    border: 2px solid #0F6FFF;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

/*Hover*/

.secondary-small-icon-link-button:hover {
    transition: 0.4ms;
    box-shadow: 5px 5px 20px rgba(15, 111, 255, 0.4);
}

/*Focus*/

.secondary-small-icon-link-button:focus {
    background-color: #DBEAFF;
}

/*Active*/

.secondary-small-icon-link-button:focus:active {
    background-color: #B5D2FF;
    border: none;
}

.secondary-small-icon-link-button-disabled {
    background-color: #EFF2F8;
    border: 2px solid #818997;
    pointer-events: none;
}